body{

font-family: Arial;
margin:0;
background:#f4f6f9;
color:#333;

}

header{

background:#0a192f;
color:white;
text-align:center;
padding:50px;

}

nav{

background:#112240;
text-align:center;
padding:15px;

}

nav a{

color:white;
margin:15px;
text-decoration:none;
font-weight:bold;

}

nav a:hover{

color:#64ffda;

}

section{

max-width:900px;
margin:auto;
padding:40px;

}

h2{

color:#0a192f;

}

.skills{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.skill{

background:#0077ff;
color:white;
padding:10px 15px;
border-radius:5px;

}

.project{

background:white;
padding:20px;
margin-top:20px;
border-radius:8px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);

}

.project a{

color:#0077ff;
text-decoration:none;
font-weight:bold;

}

footer{

background:#0a192f;
color:white;
text-align:center;
padding:20px;

}